<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>流量充值</title>
</head>

<body id="app">
    <div class="container clrfix">
        <!-- 充值手机号 -->
        <div class="mobile">
            <input type="number" class="txt-phonenum" v-model="phonenum" placeholder="请输入手机号码" @input="funPhoneInput($event)" @focus="funPhoneFoucs"
                @blur="funPhoneBlur" />
            <a v-show="isshowclear" href="javascript:;" class="ic-del iconfont" @click="funClearPhoneNum">&#xe65f;</a>
            <span v-show="error" class="error">{{error}}</span>
        </div>

        <!-- 充值选项 -->
        <div class="item clrfix">
            <h2 class="title">充流量</h2>
            <ul v-if="iscanselect" class="selectlist clrfix">
                <li v-for="item in pricelist" :class="{active: item.checked ,recommend: item.recommend}" @click="funSelectPrice($index)">
                    <p class="faceval">{{item.faceval}}M</p>
                    <p class="pay">售价：{{item.pay.toFixed(2)}}元</p>
                </li>
            </ul>
            <ul v-else class="selectlist clrfix defaultlist disable">
                <li v-for="item in defaultlist">
                    <p class="faceval">{{item.faceval}}M</p>
                </li>
            </ul>

            <!-- 流量类型 -->
            <ul class="options" v-show="iscanselect">
                <li v-for="item in pricelist[checkedidx].options">
                    <a class="btn-buy" href="javascript:;" @click="funRuy">购买</a>
                    <div class="desc">
                        <p class="pay">{{item.pay.toFixed(2)}}元 <em class="type">{{item.type}}</em></p>
                        <p class="discount" v-if="item.discount">流量券抵扣{{item.discount}}元</p>
                        <p class="remark">{{item.remark}}<span v-if="item.coupon"> , <em>{{item.coupon}}</em></span></p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 更多充值 -->
        <div class="item">
            <h2 class="title">更多充值</h2>
            <div class="recharge-type">
                <a v-for="item in rechargetype" :href="item.url">
                    <!--<img class="type-icon" :src="item.icon" />-->
                    <em class="iconfont type-icon" :class="item.clsname"></em>
                    <p class="type-name">{{item.name}}</p>
                </a>
            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
    <script src="js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    phonenum: "",       //输入的手机号
                    iscanselect: 0,     //价格是否可选
                    isshowclear: 0,     //删除是否可见
                    checkedidx: 0,       //流量面值默认选中项  
                    error: "",
                    defaultlist: [{
                        faceval: 30,
                        checked: 0
                    }, {
                        faceval: 50,
                        checked: 0
                    }, {
                        faceval: 100,
                        checked: 0
                    }, {
                        faceval: 200,
                        checked: 0
                    }, {
                        faceval: 500,
                        checked: 0
                    }, {
                        faceval: 1000,
                        checked: 0
                    }],
                    pricelist: [{
                        faceval: 300,               //面值
                        pay: 15,                    //实际支付
                        recommend: 1,               //是否有标记
                        options: [{
                            pay: 15,                //本地流量价格
                            type: '本地',           //流量适用区域 
                            remark: '本地可用，即时生效，月底失效',
                            coupon: "送1元流量券",   //赠送券信息
                            discount: 2             //抵扣面值2
                        }, {
                            pay: 19,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效',
                            coupon: "送2元流量券",
                            discount: 2
                        }],
                        checked: 0      //是否选中，选中后可直接调支付接口
                    }, {
                        faceval: 500,
                        pay: 21,
                        recommend: 1,
                        options: [{
                            pay: 21,
                            type: '本地',
                            remark: '本地可用，即时生效，月底失效',
                            coupon: "送2元话费券",
                            discount: 2

                        }, {
                            pay: 28.5,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效，每月限充10次',
                            coupon: "送3元话费券",
                            discount: 2
                        }],
                        checked: 0
                    }, {
                        faceval: 1024,
                        pay: 37.5,
                        recommend: 1,
                        options: [{
                            pay: 15,
                            type: '本地',
                            remark: '本地可用，即时生效，月底失效',
                            coupon: "送3元流量券",
                            discount: 2
                        }, {
                            pay: 19,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效',
                            coupon: "送5元话费券",
                            discount: 2
                        }],
                        checked: 0
                    }, {
                        faceval: 2048,
                        pay: 52.5,
                        recommend: 1,
                        options: [{
                            pay: 15,
                            type: '本地',
                            remark: '本地可用，即时生效，月底失效',
                            coupon: "送5元流量券",
                            discount: 2
                        }, {
                            pay: 19,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效',
                            coupon: "送8元话费券",
                            discount: 2
                        }],
                        checked: 0
                    }, {
                        faceval: 30,
                        pay: 3.75,
                        recommend: 0,
                        options: [{
                            pay: 3.75,
                            type: '本地',
                            remark: '本地可用，即时生效，月底失效',
                            coupon: 0,
                            discount: 0
                        }, {
                            pay: 4.75,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效，每月限充10次',
                            coupon: 0,
                            discount: 0
                        }],
                        checked: 0
                    }, {
                        faceval: 50,
                        pay: 4.5,
                        recommend: 0,
                        options: [{
                            pay: 4.5,
                            type: '本地',
                            remark: '本地可用，即时生效，月底失效',
                            coupon: 0,
                            discount: 0
                        }, {
                            pay: 5.7,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效',
                            coupon: 0,
                            discount: 0
                        }],
                        checked: 0
                    }, {
                        faceval: 100,
                        pay: 7.5,
                        recommend: 0,
                        options: [{
                            pay: 7.5,
                            type: '本地',
                            remark: '本地可用，即时生效，月底失效',
                            coupon: 0,
                            discount: 0
                        }, {
                            pay: 9.5,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效，每月限充10次',
                            coupon: 0,
                            discount: 2
                        }],
                        checked: 0
                    }, {
                        faceval: 3000,
                        pay: 75,
                        recommend: 0,
                        options: [{
                            pay: 75,
                            type: '本地',
                            remark: '本地可用，即时生效，月底失效',
                            coupon: 0,
                            discount: 2
                        }, {
                            pay: 95,
                            type: '全国',
                            remark: '全国可用，即使生效，月底失效，每月限充10次',
                            coupon: 0,
                            discount: 2
                        }],
                        checked: 0
                    }],
                    rechargetype: [{
                        name: "充话费",
                        icon: "images/ic-50×50-bill.png",
                        url: "recharge-center.html",
                        clsname:"ic-bill",
                        unicode: "&#xe625;",
                        recommendicon: ""
                    }, {
                        name: "水电煤宽带",
                        icon: "images/ic-50×50-life.png",
                        url: "recharge-other.html",
                        clsname:"ic-life",
                        unicode: "&#xe600;",
                        recommendicon: ""
                    }, {
                        name: "娱乐充值",
                        icon: "images/ic-50×50-video.png",
                        url: "recharge-video.html",
                        clsname:"ic-video",
                        unicode: "&#xe601;",
                        recommendicon: "images/remark-hb.png"
                    }, {
                        name: "游戏与其他",
                        icon: "images/ic-50×50-other.png",
                        url: "recharge-other.html",
                        clsname:"ic-other",
                        unicode: "&#xe602;",
                        recommendicon: ""
                    }]
                }

            },
            methods: {
                funPhoneFoucs: function () {
                    //【获焦】
                    this.iscanselect = 0;
                    if (this.phonenum) {
                        this.isshowclear = 1;
                        this.error = "";
                    }
                },
                funClearPhoneNum: function () {
                    //【清除手机号】
                    this.phonenum = "";
                    this.isshowclear = 0;
                    this.iscanselect = 0;
                    this.error = "";
                },
                funPhoneInput: function (e) {
                    //【键入】
                    //空
                    if (!this.phonenum) {
                        this.isshowclear = 0;

                        //不为空,则验证手机号格式    
                    } else {
                        this.isshowclear = 1;
                        //手机号格式不正确
                        if (!(/^1(3|4|5|7|8)\d{9}$/.test(this.phonenum))) {
                            this.iscanselect = 0;
                            this.isshowclear = 1;

                            //手机号格式正确    
                        } else {
                            this.iscanselect = 1;
                            this.isshowclear = 0;
                            e.target.blur();      //自动失焦
                            this.checkedidx = 0;  //默认选中第一项
                            this.pricelist[0].checked = 1;
                        }
                    }
                },
                funPhoneBlur: function () {
                    //【失焦】
                    if (this.phonenum) {
                        //手机号格式不正确
                        if (!(/^1(3|4|5|7|8)\d{9}$/.test(this.phonenum))) {
                            this.iscanselect = 0;
                            this.error = "(请输入正确的手机号码)"
                        } else {
                            this.iscanselect = 1;
                        }
                    }
                },
                funSelectPrice: function (idx) {
                    var ts = this;
                    //【选择充值面值】
                    var pricelist = this.pricelist;
                    var faceval = 0;
                    var pay = 0;
                    for (var x in pricelist) {
                        if (x == idx) {
                            pricelist[x].checked = 1;
                            faceval = pricelist[x].faceval;
                            pay = pricelist[x].pay;
                            ts.checkedidx = idx;
                        } else {
                            pricelist[x].checked = 0;
                        }
                    }
                    console.log("手机号码为：" + ts.phonenum + "; 充值的流量面值为：" + faceval + "M; 实付金额为：" + pay + "元");
                },
                funRuy: function () {
                    //【购买：请求支付接口】
                }
            }
        });
    </script>
</body>

</html>